body {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fminimalist-texture&psig=AOvVaw2P-ezSAYgRI2c08e3em02I&ust=1595773549291000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjv3fDN6OoCFQAAAAAdAAAAABAD");
}

.App {
  background-color: cadetblue;
  min-height: 500px;
  width: 400px;
  margin: 40px;
  position: relative;
}

#todo-form input{
    background-color:black;
    border:0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    color: aliceblue;
}

#todo-form input::placeholder{
    color: aliceblue;
}

#todo-form input:focus{
    outline: none;
}

#todo-form button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    cursor: pointer;
    font-weight: bolder;
    color: aliceblue;
}

